body {
    margin: 0;
    padding: 50px;
    font-family: 'VT323', monospace;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

#loading-screen {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}
#loading-screen.hiding {
    opacity: 0;
    pointer-events: none; 
}

.rotating-favicon {
    width: 150px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

#timeline-content {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    min-height: calc(100vh - 80px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
#timeline-content.visible {
    opacity: 1;
}


#timeline-content h1 {
    font-size: 4.5em;
    font-family: 'VT323', monospace;
    margin-bottom: 30px;
    animation: fadeInUp 0.5s ease-in-out;
    color: #333;

    opacity: 0;                    
    transform: translateY(20px);   
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
}

#timeline-content h1.visible {
    opacity: 1;
    transform: translateY(0);
}
